# Google OAuth Configuration
# Get your Google Client ID from: https://console.cloud.google.com/apis/credentials
# Make sure to add your development URL (http://localhost:5173) to authorized origins
# and redirect URIs in the Google Cloud Console
VITE_GOOGLE_CLIENT_ID=your_google_client_id_here